<!doctype html>
{% extends "base.html" %}
{% block content %}
<title>Twitch Emote Recommender</title>
{% if result %}
    You entered: {{ result }}
{% endif %}
<form method="POST" action=".">
   <input id="post_form_id" name="name" value="" />
   <input type="submit", name='submit', value='Recommendations'>
</form>
<form method="POST" action=".">
   <input id="post_form_id" name="name" value="" />
   <input type="submit", name='submit', value='Recommended To'>
</form>
<h3><a href="{{ url_for('example_channels') }}">Example Channels</a></h3>
{% endblock %}
