.ipynb_checkpoints/
emotes/
videos/
EDA-Twitch-Data-Condensed.ipynb
EDA-Twitch-Data.ipynb
EDA-Twitch-Video.ipynb
Modeling-Twitch-Data.ipynb
EDA_Twitch_Data.pyc
chatreplay.pyc
custom_structures.pyc
emote_retrieval.pyc
